{
  parser: "babel-eslint",
  env: {
    es6: true,
    browser: true
  },
  parserOptions: {
    ecmaversion: 6,
    sourceType: "module",
    ecmaFeatures: {
      jsx: true,
      experimentalObjectRestSpread: true
    }
  },
  extends: ["eslint:recommended", "plugin:react/recommended", "standard"],
  plugins: [
    "react"
  ],
  rules: {
    "semi": [2, "always"],
    "space-before-function-paren": ["error", "never"],
    "react/jsx-no-literals": 2
  }
}
